 /* Violet - 4B50A3
Hp: Grey - E5E5E5 */

.tablehead{  
  background-color: #4B50A3 !important;  
  color: white; /* Adjust text color if necessary */  
}


.loginButton {
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #000dff;
  background-image: linear-gradient(45deg, #212686 0%, #4B50A3  51%, #777bca  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.loginButton:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  
}

.loginButton:active {
  transform: scale(0.95);
}
.card-hover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

body{
  background-color: #f0eeee;
}

.cardbg{
  background-color: #4B50A3;


}

.card:hover{
  border: 2px solid #4B50A3;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
tr:hover{
  background-color: #4B50A3;
}